In [907]:
import pandas as pd
import numpy as np

In [976]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [977]:
#by using the ".nunique" function I was able to pull the total number of UNIQUE screen names from the data set
#to conclude, this means some people made multiple purchases (there are 780 entries)
total_players = purchase_data["SN"].nunique()
total_players

576

In [978]:
#find the number of unique items
#find the average price of those unique items
#find the total number of purchases
#find the total amount of revenue earned
purchasing_analysis = {
    "Number of Unique Items": [purchase_data["Item Name"].nunique()],
    "Average Price": f"${round(purchase_data['Price'].mean(), 2)}",
    "Number of Purchases":  purchase_data["Item Name"].value_counts().sum(),
    "Total Revenue": f"${purchase_data['Price'].sum()}",
}
pd.DataFrame(purchasing_analysis)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [979]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [980]:
screen_name_df = purchase_data["SN"].nunique()

gender_count_df = {
    "Male": purchase_data.loc[purchase_data["Gender"] == "Male", :].nunique(),
    "Female": purchase_data.loc[purchase_data["Gender"] == "Female", :].nunique(),
    "Other / Non-Disclosed": purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :].nunique(),
}

numbers_for_genders = {
    "Male": gender_count_df["Male"]["SN"],
    "Female": gender_count_df["Female"]["SN"],
    "Other / Non-Disclosed": gender_count_df["Other / Non-Disclosed"]["SN"]
}

percentage_of_genders = {
    "Male": str((numbers_for_genders["Male"] / screen_name_df*100).round(2)) + "%", 
    "Female": (numbers_for_genders["Female"] / screen_name_df*100).round(2),
    "Other / Non-Disclosed": (numbers_for_genders["Other / Non-Disclosed"] / screen_name_df*100).round(2)
}

pd.DataFrame({"Total Count": numbers_for_genders, "Percentage of Players": percentage_of_genders})

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [981]:
purchase_count_by_gender = {
    "Males": purchase_data.loc[purchase_data["Gender"] == "Male", :].count(),
    "Females": purchase_data.loc[purchase_data["Gender"] == "Female", :].count(),
    "Other / Non-Disclosed": purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :].count(),
}

final_purchase_count_by_gender = {
    "Males": purchase_count_by_gender["Males"]["Purchase ID"],
    "Females": purchase_count_by_gender["Females"]["Purchase ID"],
    "Other / Non-Disclosed": purchase_count_by_gender["Other / Non-Disclosed"]["Purchase ID"],
}

average_purchase_price = {
    "Males": ((purchase_data.loc[purchase_data["Gender"] == "Male", :]["Price"].sum())/(purchase_count_by_gender["Males"]["Purchase ID"])).round(2),
    "Females": ((purchase_data.loc[purchase_data["Gender"] == "Female", :]["Price"].sum())/(purchase_count_by_gender["Females"]["Purchase ID"])).round(2),
    "Other / Non-Disclosed": ((purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]["Price"].sum())/(purchase_count_by_gender["Other / Non-Disclosed"]["Purchase ID"])).round(2)
}

total_purchase_value = {
    "Males": (purchase_data.loc[purchase_data["Gender"] == "Male", :]["Price"].sum()),
    "Females": (purchase_data.loc[purchase_data["Gender"] == "Female", :]["Price"].sum()),
    "Other / Non-Disclosed": (purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]["Price"].sum())
}

avg_total_purchase_per_person = {
    "Males":  (total_purchase_value["Males"] / numbers_for_genders["Male"]).round(2),
    "Females": (total_purchase_value["Females"] / numbers_for_genders["Female"]).round(2),
    "Other / Non-Disclosed": (total_purchase_value["Other / Non-Disclosed"] / numbers_for_genders["Other / Non-Disclosed"]).round(2)
}

purchasing_analysis_gender = {
    "Purchase Count": final_purchase_count_by_gender,
    "Average Purchase Price": average_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_total_purchase_per_person
}

pd.DataFrame(purchasing_analysis_gender)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Males,652,3.02,1967.64,4.07
Females,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

In [982]:
# Establish bins for ages (minimum is 7, maximum is 45)
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
age_ranges = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39", "40+"]

source_df = purchase_data.drop_duplicates(["SN"])
source_df["Age Demographics"] = pd.cut(source_df["Age"], age_bins, labels=age_ranges, include_lowest=True)

age_demographics_series = source_df['Age Demographics'].value_counts()

final_age_demographics_df = pd.DataFrame(age_demographics_df)

percentage_age = {}


for the_single_item in age_demographics_series.items():
    percentage_age[the_single_item[0]] = "{:.2%}".format(the_single_item[1] / total_players)
    
final_percentage_age = pd.DataFrame.from_records(percentage_age, index=[0]).transpose()


age_demographic_reference = pd.DataFrame({"Total Count": age_demographics_series, "Percentage of Players": percentage_age})

age_demographic_reference

C:\Users\asiah\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

       Total Count Percentage of Players
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%
<10             17                 2.95%

In [1119]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
age_ranges = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39", "40+"]

purchase_ref = purchase_data
purchase_ref["Avg Age Reference"] = pd.cut(purchase_ref["Age"], age_bins, labels=age_ranges, include_lowest=True)
# purchase_ref

purchase_count = purchase_ref["Avg Age Reference"].value_counts()
# purchase_count

total_pur_price = pd.DataFrame(purchase_ref.groupby(['Avg Age Reference']).sum())['Price']
# total_pur_price

average_purchase_price = total_pur_price / purchase_count
# average_purchase_price

avg_per_no_dupe = purchase_data.drop_duplicates(["SN"])
avg_per_no_dupe["Avg Age Reference"] = pd.cut(source_df["Age"], age_bins, labels=age_ranges, include_lowest=True)

purchase_count_no_dupe = avg_per_no_dupe["Avg Age Reference"].value_counts()

avg_total_pur_per_person = total_pur_price / purchase_count_no_dupe
# avg_total_pur_per_person

age_spending_reference = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price":  average_purchase_price.map('${:,.2f}'.format),
    "Total Purchase Value": total_pur_price.map('${:,.2f}'.format),
    "Avg Total Purchase per Person": avg_total_pur_per_person.map('${:,.2f}'.format)
})

age_spending_reference

C:\Users\asiah\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [1135]:
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

some_people = purchase_data
# total_pur_price = pd.DataFrame(top_five_spenders.groupby(['Price']).sum())
some_letters = pd.DataFrame(some_people.groupby(['SN'])['Price'].sum())
top_five_spenders = someletters.nlargest(5, 'Price').reset_index()

purchase_data['SN'].value_counts()

purchase_count_fortopfive = purchase_data['SN'].value_counts()
purchase_count_fortopfive.iloc[top_five_spenders['SN']]
# purchase_count_fortopfive

# top_five_spenders

# top_five_spenders.count()
# top_five_listed = pd.DataFrame({
#     "pleb1": purchase_data['SN'].count()['Lisosia93'],
#     "pleb2": purchase_data['SN'].count()['Idastidru52'],
#     "pleb3": purchase_data['SN'].count()['Chamjask73'],
#     "pleb4": purchase_data['SN'].count()['Iral74'],
#     "pleb5": purchase_data['SN'].count()['Iskadarya95']
# })

# top_five_listed

# purchase_data.loc[some_people['SN'] == 'Lisim78'].count()['Price']

# for index, arbitrary in top_five_spenders:
# #     print(purchase_data.loc[some_people['SN'] == arbitrary[0]].count()['Price'])
#     print(arbitrary)




# purchase_data['SN'].value_counts()['Lisosia93']
# purchase_data['SN'].value_counts()['Idastidru52']
# purchase_data['SN'].value_counts()['Idastidru52']
# count_my_peeps = some_people.loc[some_people["SN"]]
# count_my_peeps

# these are the top five biggest spenders in the game
# top_five_spenders = purchase_data['SN'].value_counts().head()

# total revenue per spender
# top_five_spenders = purchase_data['Price'].sum()
# total_purchases

ValueError: invalid literal for int() with base 10: 'Lisosia93'

In [985]:
# these are the five most popular items in the game
purchase_data['Item Name'].value_counts().head()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Name: Item Name, dtype: int64

In [986]:
# this gives me the five most commonly purchased items
# purchase_data['Item Name'].value_counts().head()